* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 4rem;
  font-family:'Courier New', Courier, monospace;
}

main {
  margin: 0 auto;
  width: 80%;
}

.max-active-buttons-container {
  margin-bottom: 5rem;
  text-align: center;
}

.add-remove-buttons-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 2rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.add-remove-buttons-container > span:first-child, .add-remove-buttons-container > span:last-child {
  display: flex;
  gap: 1rem;
}

button {
  font-size: inherit;
  font-weight: 700;
}

button:active {
  transform: scale(.95);
}


@media (max-width: 768px) {
  .add-remove-buttons-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

.add-remove-buttons-container > span:first-child, .add-remove-buttons-container > span:last-child {
    justify-content: center;
}
}